@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background: url(/src/img/IMG_20211231_184151.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}


:root {
  --body: #e4fbff;
  --font: #f7f7f7;
  --hover: #ff1700;
  --shadow: 0px 0px 20px #e0e0e0;
  --filter: invert(1);
}

.dark-theme {
  --body: #f90716;
  --font: #eeeeee;
  // Shadow
  --filter: invert(0);
}
